body {
  margin: 0;
  padding: 0;
}
.App {
  position: relative;
  width: 100%;
  height: 100vh;
}
.options {
  position: absolute;
  z-index: 20;
  padding: 10px;
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(224, 224, 224);
}
button {
  margin-right: 10px;
}
.circle {
  z-index: 1px;
  width: 10px;
  height: 10px;
  background: #000;
  position: absolute;
  border-radius: 50%;
}
.colors {
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.color {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: block;
  margin-right: 10px;
}
